<div class="tooltip">
	{% if size and task %}
		<div class="button button-clear glyph {{size}}" id="{{id}}" data-task="{{task}}">{{glyph}}</div>
	{% elsif size and project %}
		<div class="button button-clear glyph {{size}}" id="{{id}}" data-project="{{project}}">{{glyph}}</div>
	{% else %}
		<div class="button button-clear glyph" id="{{id}}">{{glyph}}</div>
	{% endif %}
	<span class="tooltiptext {{tippos}}">{{tip}}</span>
</div>