<div id="prog-projects-sidenav" class="sidenav projects">
    <a href="javascript:void(0)" class="closebtn" onclick="PgbZ.closeNav()">&laquo;</a>
    <div class="container projects">
        {% for project in projects %}
            <div class="row">
                <div class="column column-80">
                    {% if selected and project.id == selected %}
                		<a class="selected proj-editable" contenteditable="true" data-project="{{project.id}}" href="/{{project.id}}">{{project.name}}</a>
                    {% else %}
                        <a href="/{{project.id}}">{{project.name}}</a>
                    {% endif %}
                </div>
                <div class="column column-20">
                        {% assign pid=project.id %}
                        {% assign eid="project-archive-" | append: project.id %}
                        
                        {% render 'glyph.liquid', glyph:"×", tip:"archive", size:"xlarge", id:eid, tippos:"top", project:pid %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% render 'glyph.liquid', glyph:"+", tip:"add", size:"xlarge", id:"prog-project-add", tippos:"bottom right" %}
</div>

<span class="sidenavopen" onclick="PgbZ.openNav()">&nbsp;&nbsp;&raquo;</span>

